* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #FFF !important;
}

.main {
    padding: 0 !important;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

#photomaton .row .col {
  padding: 0 !important;
}

#photoRowTop {
    width: 100%;
    height: 80vw; /FFF 16:9 aspect ratio (9/16 = 0.5625) */
    background-color: #FFF;
}

#photoRowTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

#photoRowBottom {
    width: 100%;
    height: 100vw; /* 1:1 aspect ratio */
    background-color: #FFF;
}

#photoRowBottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 15px 15px;
}


/* Position the button at the bottom of the second image */
.btn-bottom {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 10px 20px;

  font-size: 50px !important;
  border: 3px solid #FFF;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

#btn-bottom-lvl1 {
}

#btn-bottom-lvl2 {
  bottom: 150px;
}

#btn-bottom-lvl3 {
  bottom: 270px;
}

.btn-bottom {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;

  font-size: 50px !important;
  border: 3px solid #FFF;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

#btnCountdown {
    color: darkred;
    font-weight: bold;
}
