<header class="py-3 mb-4 border-bottom d-flex justify-content-evenly align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

    <img
        src="/camera_logo.png"
        alt="Logo IA on a Stick"
        >

    <span class="px-2">

        <a
            id="btnPhoto"
            class="btn btn-warning btn-lg"
            role="button"
            href="#"
            >
            📷 Photo!
        </a>

        <a
            id="btnSmile"
            class="btn btn-success btn-lg d-none"
            role="button"
            href="#"
            disabled=""
            >
            😄 SMILE!
        </a>

        <a
            id="btnCountdown"
            class="btn btn-danger btn-lg d-none"
            role="button"
            href="#"
            >
            ⏲ 3...
        </a>

        <a
            id="btnError"
            class="btn btn-danger btn-lg d-none"
            role="button"
            href="#"
            >
            ⏲ ERROR!
        </a>

        <a
            id="btnNext"
            class="btn btn-secondary btn-lg m-2 d-none"
            role="button"
            href="#"
            >
            🏹 Next!
        </a>

    </span>

</header>
