<script>

    const getImgBase64 = async (
      url,
      width = 800,
      height = 600
    ) => {

      try {

        let img = new Image(width, height);
        img.setAttribute("crossorigin", "anonymous");
        img.src = url;

        await img.decode()

        let canvas = document.createElement('CANVAS');
        canvas.width = width;
        canvas.height = height;

        var ctx = canvas.getContext('2d');
        ctx.drawImage(img, 0, 0);

        var dataURL = dataURL = await canvas.toDataURL();

      } catch (e) {

        console.log({ url });
        console.log({ e });

      }

      return new Promise(resolve => resolve(dataURL));
    }

    const sdApiRequest = async (inputImg) => {

      const SERVER_URL = "http://127.0.0.1:7860";
      const SERVER_API_ENDPOINT = "/sdapi/v1/txt2img";

      const prompt = "a group of (esoteric magicians:1.1) on an (exoplanet:1.1) point of view during sunrise, simple outlined illustration, beachy colors, <lora:sd_xl_turbo_lora_v1:1>, (dali style:1.3)";
      const negative_prompt = "text, bad art, blurry, watermark, person, tripod, letters, ugly, deformed, glasses"

      const controlNetParams = [
        {
          "enabled": true,
          "input_image": inputImg,
          "model": "controlnet-canny-sdxl-1.0 [7b2ce256]",
          "module": "canny",
          "weight": 1.1
        },
        {
          "enabled": true,
          "input_image": inputImg,
          "model": "controlnet-canny-sdxl-1.0 [7b2ce256]",
          "module": "openpose",
          "weight": 1.0
        },
        {
          "enabled": true,
          "input_image": inputImg,
          "model": "controlnet-canny-sdxl-1.0 [7b2ce256]",
          "module": "instantID",
          "weight": 1.1
        }
      ];

      const txt2imgParams = {

        "prompt": prompt,
        "negative_prompt": negative_prompt,

        "width": 1024,
        "height": 1024,

        "steps": 4,
        "sampler_name": "LCM",
        "cfg_scale": 1.5,

        "override_settings": {
          "sd_model_checkpoint": "sd_xl_base_1.0_0.9vae",
          "sd_checkpoint_hash": "62b2a03e85",
        },

        "alwayson_scripts": {
          "controlnet": {
            "args": controlNetParams
          }
        },

        "send_images": true,
        "save_images": true,
      };

      const response = await fetch(`${SERVER_URL}${SERVER_API_ENDPOINT}`, {
        method: "POST",
        body: JSON.stringify(txt2imgParams),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
      const outputJson = await response.json();
      const base64Img = outputJson.images[0]

      var image = new Image();
      image.src = `data:image/png;base64,${base64Img}`;

      return image;
    }

    const displayResult = function (imgHTMLElement) => {

      const outputElement = document.getElementById("output")
      outputElement.innerHTML = imgHTMLElement

    }

    const takePhoto = async () => {

      let btnSpinner = document.getElementById("btnSpinner");
      let btnStatus = document.getElementById("btnTxt");
      let btnTxt = document.getElementById("btnTxt");

      btnSpinner.classList.toggle("d-none")
      btnStatus.classList.toggle("d-none")
      btnTxt.classList.toggle("d-none")

      const CAMERA_CURRENT_URL = "/current";

      const inputImgBase64 = await getImgBase64(CAMERA_CURRENT_URL);
      const outputImgHTMLElement = await sdApiRequest(inputImg);

      displayResult(outputImg);

      btnTxt.innerText = "Take Photo!";

      btnSpinner.classList.toggle("d-none")
      btnStatus.classList.toggle("d-none")
      btnTxt.classList.toggle("d-none")

    }

    const startCountdown = () => {
      let btnTxt = document.getElementById("btnTxt");
      let seconds = 3;
      btnTxt.disabled = true;

      let countdown = setInterval(() => {
        if (seconds > 0) {
          btnTxt.innerText = seconds + "...";
          seconds--;
        } else {
          clearInterval(countdown);
          btnTxt.innerText = "SMILE!";
          btnTxt.disabled = false;

          setTimeout(takePhoto, 1000)
        }
      }, 1000);
    }

</script>

<div class="container-fluid">

    <div id="actions" class="row">
        <button
          id="btnPhoto"
          class="btn btn-primary m-2"
          type="button"
          onclick="startCountdown();"
          disabled
        >

          <span
            id="btnSpinner"
            class="d-none spinner-border spinner-border-sm"
            aria-hidden="true"
          >
          </span>

          <span id="btnStatus" class="d-none" role="status">
            Loading...
          </span>

          <span id="btnTxt">
            Take Photo!
          </span>

        </button>
    </div>

    <div id="output" class="row">
    </div>

    <div id="stream" class="row">
        <img
            id="photoStream"
            src="/stream"
        />
    </div>

</div>
