  <div id="photomaton" class="container-fluid">
    <div id="photoRowTop" class="row">

      <!-- Top Row with Image -->
      <div id="stream" class="col">
        <img
          id="photoStream"
          src="{{ .Site.Params.photomatonMode.srcStream }}"
          class="img-fluid"
          />
        <div id="qrcode" class="d-none"></div>

        <img id="countdown3" src="./countdown_3.png" class="countdown img-fluid d-none"/>
        <img id="countdown2" src="./countdown_2.png" class="countdown img-fluid d-none"/>
        <img id="countdown1" src="./countdown_1.png" class="countdown img-fluid d-none"/>
        <img id="countdownSmile" src="./countdown_smile.png" class="countdown img-fluid d-none"/>
      </div>

    </div>
    <div  id="photoRowBottom" class="row">

      <!-- Bottom Row with Image and Button -->
      <div class="col position-relative" id="intro">

        <img
          id="photoBottomPlaceholder"
          src="{{ .Site.Params.photomatonMode.srcPlaceholder }}"
          class="img-fluid"
          />

        <img
          id="photoBottomProcessing"
          src="{{ .Site.Params.photomatonMode.srcProcessing }}"
          class="img-fluid d-none"
          />

        <img
          id="photoBottom"
          src="{{ .Site.Params.photomatonMode.srcResult }}"
          class="img-fluid d-none"
          />

        <a
            class="btn btn-light btn-lg btn-bottom btn-photo btn-bottom-lvl1"
            role="button"
            href="#"
            data-slug="mall_portraits"
            >
           🥸 Portraits
        </a>

        <a
            class="btn btn-light btn-lg btn-bottom btn-photo btn-bottom-lvl2"
            role="button"
            href="#"
            data-slug="magicians"
            >
            🧙 Magick
        </a>

        <a
            class="btn btn-light btn-lg btn-bottom btn-photo btn-bottom-lvl3"
            role="button"
            href="#"
            data-slug="snow"
            >
            ❄️ Snow
        </a>

        <a
            id="btnCountdown"
            class="btn btn-warning btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🕚 3
        </a>

        <a
            id="btnSmile"
            class="btn btn-success btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🥰
        </a>

        <a
            id="btnProcessing"
            class="btn btn-dark btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🧠
        </a>

        <a
            id="btnError"
            class="btn btn-danger btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🤔
        </a>

        <a
            id="btnActionKeep"
            class="btn btn-success btn-lg fs-1 d-none btn-bottom btn-action"
            role="button"
            href="#"
            >
          <span id="actionInitPublish">✅</span>
          <span id="actionRunPublish" class="d-none">🔄</span>
          Publish
        </a>

        <a
            id="btnActionDelete"
            class="btn btn-danger btn-lg fs-1 d-none btn-bottom btn-bottom-left btn-action"
            role="button"
            href="/"
            >
          🗑️ Delete
        </a>

        <a
            id="btnActionRefresh"
            class="btn btn-info btn-lg fs-1 d-none btn-bottom btn-bottom-left btn-action"
            role="button"
            href="/"
            >
          📷️ Next photo
        </a>

      </div>

    </div>
  </div>
