  <div id="photomaton" class="container-fluid">
    <div id="photoRowTop" class="row">

      <!-- Top Row with Image -->
      <div id ="stream" class="col">
        <img
          id="photoStream"
          src="{{ .Site.Params.photomatonMode.srcStream }}"
          class="img-fluid"
          />
      </div>

    </div>
    <div  id="photoRowBottom" class="row">

      <!-- Bottom Row with Image and Button -->
      <div class="col position-relative" id="intro">

        <img
          id="photoBottomPlaceholder"
          src="{{ .Site.Params.photomatonMode.srcPlaceholder }}"
          class="img-fluid"
          />

        <img
          id="photoBottomProcessing"
          src="{{ .Site.Params.photomatonMode.srcProcessing }}"
          class="img-fluid d-none"
          />

        <img
          id="photoBottom"
          src="{{ .Site.Params.photomatonMode.srcResult }}"
          class="img-fluid d-none"
          />

        <a
            id="btn-bottom-lvl1"
            class="btn btn-light btn-lg btn-bottom btn-photo"
            role="button"
            href="#"
            data-slug="70s"
            >
            📷 70's
        </a>

        <a
            id="btn-bottom-lvl2"
            class="btn btn-light btn-lg btn-bottom btn-photo"
            role="button"
            href="#"
            data-slug="80s"
            >
            📷 80's
        </a>

        <a
            id="btn-bottom-lvl3"
            class="btn btn-light btn-lg btn-bottom btn-photo"
            role="button"
            href="#"
            data-slug="90s"
            >
            📷 90's
        </a>

        <a
            id="btnCountdown"
            class="btn btn-warning btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🕚 3
        </a>

        <a
            id="btnSmile"
            class="btn btn-success btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🥰
        </a>

        <a
            id="btnProcessing"
            class="btn btn-dark btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🧠
        </a>

        <a
            id="btnError"
            class="btn btn-danger btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            🤔
        </a>

        <a
            id="btnQrcode"
            class="btn btn-secondary btn-lg fs-1 d-none btn-bottom"
            role="button"
            href="#"
            >
            Open QRCode modal
        </a>

      </div>

    </div>
  </div>
