<div class="container-fluid">

  <div
    id="loadingProgress"
    class="progress mb-2 d-none"
    style="height:20px;"
    >
    <div
      id="loadingProgressBar"
      class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
      style="width:0%;"
      >
      🧠 Calling IA...
    </div>
  </div>

  <div id="output" class="row">
    <div id="resultSrc"></div>
    <div id="resultOutput"></div>
  </div>

  <div id="stream" class="row" style="overflow: hidden;">
    <img
      id="photoStream"
      src="{{ .site.Params.photomatonMode.srcStream }}"
      class="img-fluid"
      />
  </div>

</div>
